$primary: #dc8335;
$secondary: #6eb8c0;
$light: #f0eede;
$dark: #000000;
$danger: #f31d52;
$success: #3cce3c;
$tertiary: #a376c3;
$quaternary: #2c2c2c;
$quinary: #ffffff;
$input-bg: $dark;
$spinner-animation-speed: 2s;

// $offcanvas-bg-color: #2c2c2c;
$offcanvas-color: #f0eede;
$modal-content-bg: #2c2c2c;
$modal-content-color: #f0eede;
$accordion-bg: $dark;
$accordion-border-color: #2c2c2c;
$accordion-transition: 0.2s;
$transition-collapse: 0.2s;
$accordion-icon-color: $primary;
$accordion-button-bg: $dark;
$accordion-button-active-bg: $dark;
$accordion-padding-y: 1rem;
$table-border-color: #2c2c2c;
$input-color: #f0eede;
$input-disabled-border-color: $danger;
$input-disabled-bg: $dark;
$input-placeholder-color: #a376c3;
$table-hover-color: $primary;
// $table-hover-bg: #2c2c2c;
$table-hover-bg-factor: 0;
$btn-white-space: nowrap;

$offcanvas-vertical-height: 25vh;

$tooltip-bg: $tertiary;

//alerts://
$alert-padding-y: 10px;
$alert-padding-x: 10px;
$alert-margin-bottom: 1rem;
$alert-border-radius: 8px;
$alert-bg-scale: 0%;
$alert-border-scale: 0%;
$alert-color-scale: 0%;
$alert-dismissible-padding-r: $alert-padding-x * 3; // 3x covers width of x plus default padding on either side

$navbar-dark-color: rgba($primary, 0.55);
$navbar-dark-hover-color: rgba($primary, 1);
$navbar-dark-active-color: $primary;

@import '../../node_modules/bootstrap/scss/functions';
@import '../../node_modules/bootstrap/scss/variables';
@import '../../node_modules/bootstrap/scss/mixins';

$offcanvas-border-color: #d63384;
$offcanvas-bg-color: rgba($quaternary, 0.96);

$theme-colors: map-merge(
    $theme-colors,
    (
        'tertiary': $tertiary,
        'quaternary': $quaternary,
        'quinary': $quinary
    )
);

$theme-colors-rgb: map-loop($theme-colors, to-rgb, '$value');
$utilities-colors: map-merge($utilities-colors, $theme-colors-rgb);
$utilities-text-colors: map-loop($utilities-colors, rgba-css-var, '$key', 'text');
$utilities-bg-colors: map-loop($utilities-colors, rgba-css-var, '$key', 'bg');

// import bootstrap
@import '../../node_modules/bootstrap/scss/bootstrap.scss';

//Outfit:
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300;600&display=swap');

//foo
$secondary-rgba: rgba($secondary, 0.5);
$response-success-overlay: rgba($success, 0.2);
$response-error-overlay: rgba($danger, 0.2);
$response-status-overlay: rgba($dark, 0.2);
$code-color: #e83e8c; // Bootstrap's default color for code tags

:root {
    --bs-body-font-family: 'Outfit', sans-serif;
    --bs-font-size-base: 17px; // Set your desired base font size here
    --bs-breakpoint-xs: #{map-get($grid-breakpoints, xs)};
    --bs-breakpoint-sm: #{map-get($grid-breakpoints, sm)};
    --bs-breakpoint-md: #{map-get($grid-breakpoints, md)};
    --bs-breakpoint-lg: #{map-get($grid-breakpoints, lg)};
    --bs-breakpoint-xl: #{map-get($grid-breakpoints, xl)};
    --bs-code-color: #{$code-color};
    --hl-primary: #{$primary};
    --hl-secondary: #{$secondary};
    --hl-secondary-rgba: #{$secondary-rgba};
    --hl-light: #{$light};
    --hl-dark: #{$dark};
    --hl-danger: #{$danger};
    --hl-success: #{$success};
    --hl-tertiary: #{$tertiary};
    --hl-quaternary: #{$quaternary};
    --hl-quinary: #{$quinary};
    --hl-input-bg: #{$input-bg};
    --hl-response-success-overlay: #{$response-success-overlay};
    --hl-response-error-overlay: #{$response-error-overlay};
    --hl-response-status-overlay: #{$response-status-overlay};
    --hl-offcanvas-color: #{$offcanvas-color};
    --hl-modal-content-bg: #{$modal-content-bg};
    --hl-modal-content-color: #{$modal-content-color};
    --hl-accordion-bg: #{$accordion-bg};
    --hl-accordion-border-color: #{$accordion-border-color};
    --hl-accordion-icon-color: #{$accordion-icon-color};
    --hl-accordion-button-bg: #{$accordion-button-bg};
    --hl-accordion-button-active-bg: #{$accordion-button-active-bg};
    --hl-table-border-color: #{$table-border-color};
    --hl-input-color: #{$input-color};
    --hl-input-disabled-border-color: #{$input-disabled-border-color};
    --hl-input-disabled-bg: #{$input-disabled-bg};
    --hl-input-placeholder-color: #{$input-placeholder-color};
    --hl-table-hover-color: #{$table-hover-color};
    --hl-offcanvas-border-color: #{$offcanvas-border-color};
    --hl-offcanvas-bg-color: #{$offcanvas-bg-color};
    --hl-navbar-dark-color: #{rgba($primary, 0.55)};
    --hl-navbar-dark-hover-color: #{rgba($primary, 1)};
    --hl-navbar-dark-active-color: #{$primary};
    --hl-tooltip-bg: #{$tooltip-bg};
    --hl-offline-filter: grayscale(100%) brightness(90%);
}

body {
    font-size: var(--bs-font-size-base);
}

// Although I like the semanic nature of the approach below, as we move
// to Native Web Components these classes will not be available within
// the Shadow DOM.  As such, I will be moving to a more CSS Variables (above)

.hl-checked-in {
    @extend .text-primary;
    @extend .fw-bold;
}

.hl-checked-out {
    @extend .text-decoration-line-through;
    @extend .small;
    @extend .text-muted;
    @extend .fst-italic;
    @extend .fw-light;
}

.hl-spectator {
    @extend .text-light;
}

.hl-netcontrol {
    @extend .fw-bolder;
    @extend .text-secondary;
}

.hl-netlogger {
    @extend .fw-bolder;
    @extend .text-tertiary;
}

.hl-netrelay {
    @extend .fw-bolder;
    @extend .text-success;
}

$navbar-gradient: linear-gradient(to right, $quaternary, rgba($primary, 0.35), $quaternary);

.navbar-dark {
    background: $navbar-gradient !important;
}

.ads-dark {
    background: $navbar-gradient !important;
}

/* Scroll bars: */
::-webkit-scrollbar {
    height: 12px;
    width: 12px;
    background: var(--color1);
}

::-webkit-scrollbar-thumb {
    background: #555;
    -webkit-border-radius: 1ex;
    -webkit-box-shadow: $quaternary;
}
